VITE_SUPABASE_URL=https://gqlsytfnteocwhjrfcnj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxbHN5dGZudGVvY3doanJmY25qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3ODE3OTAsImV4cCI6MjEwMzM1Nzc5MH0.FtMEW0q1HIaoksvHs1k_yPx8UEfc8RJsiTiNirVroEg